.inter-fontforcheckin {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#caveimage {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2.5em;
    text-transform: lowercase;
}

h2 {
    text-transform: lowercase;
}

html {
    background-color: #ccbd9f;
}

main {
    color: #010101;
    line-height: 1.5rem;
    font-family: "Inter", sans-serif;
}

hr {
    border: 1px solid black;
    margin: 2rem;
}

a:link {
    color:blue;
    text-decoration: none;
}
a:visited {
    color:purple;
    text-decoration: none;
}
a:hover {
    color:purple;
    text-decoration: underline;
}
a:active {
    color:hotpink;
}