.wastingmytime {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
    display: grid;
    height: 40px;
    background-color: black;
    margin-top:auto;
    text-align: center;
    align-content: center;
}

footer address {
    color: white;
}

h2 {
    text-align: center;
    background-color: aliceblue;
    padding: 12px;
    margin: 0px;
}

nav li {
    list-style-type: none;
    background-color: black;
    margin: 1rem;
}

nav a {
    text-decoration: none;
    color: lightgray;
    padding: 25px;
}

nav a:hover {
    background-color: black;
    color: palegoldenrod;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    padding: 25px;
    margin: 0;
}
